body {
  font-family: 'Open Sans', sans-serif;
}

.name {
  font-size: 75px;
  font-weight: 300;
}

.socialnets {
  
}

.socialnets > * {
  display: inline-block;
}

.nickname {
  font-size: 16px;
  font-weight: 300;
}


/* SocialNets icons */

.fbicon {
  display: block;
  width: 16px;
  height: 16px;
  background-image: url('media/icons/facebook_icon_16.png');
}

.ghicon {
  display: block;
  width: 16px;
  height: 16px;
  background-image: url('media/icons/github_icon_16.png');
}
