body {
  font-family: 'Open Sans', sans-serif;
}

.name {
  font-size: 75px;
  font-weight: 300;
}

.socialnets {
  display: inline-block;
}

.socialnets * {
  display: inline-block;
}

.nickname {
  font-size: 20px;
  font-weight: 300;
}


/* SocialNets icons */

.fbicon {
  display: block;
  width: 32px;
  height: 32px;
  background-image: url('media/icons/facebook_icon_32.png');
}
