body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  color: black;
  font-size: 1em;
  user-select: none;
}

body.fadein * {
  animation: fadeIn 1s ease-in-out;
}

.fadein {
  animation: fadeIn .5s ease;
}

.fadeout {
  animation: fadeOut .5s ease;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

/* Website theme */

/* Navbar */
nav {
  position: relative;
  height: 4em;
  width: 100%;
}

nav ul {
  list-style: none;
  height: 100%;
  margin: 0;
  text-align: center;
}

nav ul li {
  display: inline-block;
  min-width: 8em;
  text-align: center;
  transition: .2s ease-in-out all;
  font-size: 1em;
}

nav ul .nav-item a {
  transition: .2s ease-in-out all;
  border-color: #00f3ff;
}

nav ul .nav-item:hover a {
  border-bottom: 1px solid #00f3ff;
  color: white;
}

nav ul .nav-item-home a img {
  height: 2.5em;
  width: 2.5em;
}

nav ul li a {
  color: #909090;
  text-decoration: none;
  cursor: pointer;
  display: block;
  font-size: 1em;
  width: 100%;
  height: 100%;
  line-height: 4em;
}

/* Headers */

.h1 {
  font-size: 2em;
  margin: .67em 0;
}

.h2 {
  font-size: 1.5em;
  margin: .75em 0;
}

.h3 {
  font-size: 1.17em;
  margin: .83em 0;
}

/* Color */
.white {
  color: white;
}

.black {
  color: black;
}

/* Status */
.active {
  color: white;
}

#nav-wrapper ul li a.active {
  color: white;
  border-bottom: 1px solid #00f3ff;
}

.wallpaper-main {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-image: url("media/wallpapers/jscode.jpg");
  background-size: cover;
}

#site-index {
  overflow: hidden;
}

#site-index,
#site-about,
#site-portfolio {
  overflow-x: hidden;
}

#site-index nav {
  position: absolute;
}

nav #nav-wrapper {
  max-width: 80%;
  margin: 0 auto;
}

#site-index #menu {
  position: relative;
  max-width: 50em;
  width: 50em;
  max-height: 30em;
  height: 30em;
  margin: 0 auto;
  text-align: center;
  padding: 2em;
  top: 50%;
  transform: translateY(-50%);
}

#site-index #menu .h1 {
  display: block;
  text-decoration: none;
}

#site-index #menu .social ul {
  list-style: none;
}

#site-index #menu .social a {
  display: inline-block;
  color: #C8CCCF;
  height: 1.65em;
  width: 1.65em;
  border: 1px solid;
  border-radius: 50%;
  font-size: 1.5em;
  margin: .1em 0.5em .1em .1em;
  text-align: center;
  transition: .2s ease all;
}

#site-index #menu .social li {
  height: 100%;
  width: 100%;
  position: relative;
}

#site-index #menu .social li i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#site-index #menu .social a:hover {
  color: #ff9900;
  opacity: 1;
}

#site-index #bio {
  font-weight: 300;
  font-size: 2.5em;
  color: white;
  padding: 1em;
}

.body {
  display: block;

}

#background {
  background-image: url("media/wallpapers/jscode.jpg");
  background-size: cover;
  filter: blur(5px);

}

.container {
  max-width: 80%;
  margin: 0 auto;
  position: relative;
  margin: 5em auto;
  background-color: #fff;
  box-shadow: 1px 1px 7px 0 #404040;
  padding: 2em;
}

#site-about .container {
  max-width: 60%;
}

.profile-photo-round {
  background-image: url("media/photos/profile.jpeg");
  background-position: 57%;
  background-size: cover;
  border-radius: 50%;
  height: 15em;
  width: 15em;
  margin: 0 auto;
  display: block;
  margin-bottom: 1em;
}

.profile-photo-round .small {
  height: 1em;
  width: 1em
  margin-bottom: 0em;
}

.container h1,
.container h2 {
  margin: 0 0 0.5em 0;
  text-align: center;
}

.container h2 {
  margin-top: 2em;
}

.container > p {
  text-align: left;
  width: 50%;
  margin: 0 auto;
}

/* SocialNets icons */

.fbicon {
  display: block;
  background-image: url('media/icons/facebook_icon.svg');
  background-size: 2em;
}

.igicon {
  display: block;
  background-image: url('media/icons/instagram_icon.svg');
  background-size: 2em;
}

.ghicon {
  display: block;
  background-image: url('media/icons/github_icon.svg');
  background-size: 2em;
  filter:invert(100%);
}

.twicon {
  display: block;
  background-image: url('media/icons/twitter_icon2.svg');
  background-size: 2em;
}

.lkicon {
  display: block;
  background-image: url('media/icons/linkedin_icon.svg');
  background-size: 2em;
}

.mailicon {
  display: block;
  background-image: url('media/icons/email_icon.svg');
  background-size: 2em;
}

/* Scrollbar */

::-webkit-scrollbar {
  background-color: #d3d3d3;
  width: 0.5em;
}

::-webkit-scrollbar-thumb {
  background-color: #505050;
}

::-webkit-scrollbar:horizontal {
  background-color: #d3d3d3;
  width: 0.5em;
}

::-webkit-scrollbar-thumb:horizontal {
  background-color: #505050;
}
