html,
body {
  font-display: swap;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

:root {
  --primary: var(--teal);
  --secondary: var(--orange);
  --primarybg: var(--darkgrey);
  --on-primarybg: var(--textlight);


  --teal: #14e5ea;
  --darkgrey: #363636;
  --orange: #f98701;
  --textdark: #101010;
  --textlight: #cccccc;
}

// VARIABLES
// WEBSITE SIZE
$pageRegularWidth: 60rem;
$pageMaxWidth: 90%;

body.dark {
  background-color: var(--primarybg);
  color: var(--on-primarybg);

  nav {
    background-color: var(--primarybg);

    ul.links a {
      color: var(--on-primarybg);

      &li::after {
        background-color: var(--teal);
      }
    }
  }
}

nav {
  --accent: var(--teal);

  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 5rem;
  transition: box-shadow 0.2s ease-in-out;

  &.active {
    box-shadow: 0 2px 7px 2px var(--accent);
  }

  .nav-wrapper {
    width: $pageRegularWidth;
    max-width: $pageMaxWidth;
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 auto;
  }

  a.brand {
    font-size: 2rem;
    font-weight: 900;
    color: var(--textlight);
    text-decoration: none;
    transition: color 0.2s ease;
    letter-spacing: 0.7px;

    &:hover {
      color: var(--teal);
    }
  }

  ul.links {
    display: flex;
    list-style: none;
    padding: 0;
    margin-left: auto;

    a {
      width: fit-content;
      font-weight: 500;
      font-size: 1.2rem;
      text-decoration: none;
      text-transform: lowercase;
      margin: 0 1rem;

      &.active li::after {
        width: 100%;
      }

      &#fire li::after {
        background-color: var(--orange);
      }

      li::after {
        content: "";
        height: 0.25rem;
        width: 0;
        display: block;
        position: relative;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: var(--teal);
        transition: width 0.2s ease-in-out, color 0.2s ease;
      }

      &:hover {
        margin-bottom: 0;

        li::after {
          width: 100%;
        }
      }
    }
  }
}

header {
  .header-background {
    width: 100%;
    max-height: 35rem;
    object-fit: cover;
  }
}

main {
  margin-top: 5rem;

  #page-content {
    width: $pageRegularWidth;
    max-width: $pageMaxWidth;
    margin-right: auto;
    margin-bottom: 6rem;
    margin-left: auto;
  }
}

#home {
}

#project-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem 2rem;
  padding: 0;
  list-style: none;

  li {
    flex-basis: 20%;

    > a {
      color: var(--on-primarybg);
      text-decoration: none;

      #thumbnail {
        margin-bottom: 0.5rem;
        transition: filter .5s ease-in-out,
          transform .2s ease-in-out;
      }

      #title {
        font-size: 1.125rem;
        color: var(--orange);
        margin: 0 0 0.25rem 0;
      }

      #date-interval,
      #date {
        font-size: 0.8rem;
        color: darken(#ccc, 20);
        margin: 0;
      }
    }

    &:hover #thumbnail {
      transform: scale(1.05);
    }
  }
}

#work {
  .linked-button button {
    margin-top: 2.5rem;
  }
}

#hire {
  #how-i-work {
    margin-top: 2rem;

    h2 {
      color: var(--teal);
      margin: 0;

      &:not(:first-of-type) {
        margin-top: 2rem;
      }
    }

    p {
      margin: 0.5rem 0;
      font-weight: 300;
    }

    blockquote p {
      color: #909090;
      text-align: center;

      &::before,
      &::after {
        content: '"';
        display: inline-block;
        font-family: "Garamond";
        font-size: 2rem;
        font-weight: 700;
      }
    }
  }

  #calltoaction {
    a {
      position: relative;
      width: fit-content;
      font-size: 1.25rem;
      color: var(--orange);
      text-decoration: none;
      text-transform: none;
      margin-top: 2.5rem;
      transition: color 0.25s ease;
      
      &:hover {
        &::before {
          content: "Email me :)";
          display: block;
          position: absolute;
          z-index: 10;
          bottom: 125%;
          left: 50%;
          width: 7.5rem;
          background-color: #000;
          color: var(--textlight);
          font-size: 0.9rem;
          text-align: center;
          padding: 0.5rem 0.5rem;
          border-radius: .5rem;
          transform: translateX(-50%);
          transition: all .5s ease;
        }

        &::after {
          content: "";
          display: block;
          position: absolute;
          z-index: 9;
          bottom: calc(125% - 0.25rem);
          left: 50%;
          width: 0.5rem;
          height: 0.5rem;
          background-color: #000;
          transform: translateX(-50%) rotate(45deg);
        }
      }
    }
  }
}

// Custom button 
button.animated {
  position: relative;
  min-width: 10rem;
  height: 3rem;
  font-size: 1.25rem;
  // text-transform: lowercase ;
  color: var(--on-primarybg);
  background: transparent;
  padding: 0 0.5rem;
  border: 0.25rem solid var(--orange);
  box-shadow: none;
  outline: none;
  transition: color 0.25s ease;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: -0.25rem;
    left: -0.25rem;
    z-index: -1;
    display: block;
    width: calc(100% + 0.5rem);
    height: 0;
    background-color: var(--orange);
    transition: height 0.4s ease;
  }

  &:hover {
    color: var(--darkgrey);

    &::before {
      height: 3rem;
    }
  }
}