// TEXT
.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

// DISPLAY
.flex {
  display: flex;
}

.flex.justify-content--center {
  justify-content: center;
}

.flex.align-items--center {
  align-items: center;
}

// ANIMATIONS
.lazyload {
  filter: blur(0.3rem);
  transition: filter 0.3s ease;

  &.loaded {
    filter: blur(0.2px);
  }
}