<meta charset="UTF-8">
<meta name="description" content="Fábio Ferreira is a freelance full-stack developer">
<meta name="keywords" content="HTML,CSS,React,JavaScript,Node.JS,Golang">
<meta name="author" content="Fábio Ferreira">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Theme Color -->
<meta name="theme-color" content="#363636">

<!-- Styles -->
{{ $toolkit := resources.Get "/scss/toolkit.scss" }}
{{ $mainCSS := resources.Get "/scss/main.scss" }}
{{ $mobileCSS := resources.Get "/scss/mobile.scss" }}

{{ $scssBundle := slice $toolkit $mainCSS $mobileCSS | resources.Concat "css/bundle.scss" }}
{{ $css := $scssBundle | toCSS | minify}}
<link rel="stylesheet" href={{ $css.Permalink }} />

<!-- Fonts -->
<link rel="preload" href="https://fonts.googleapis.com/css?family=Roboto:300,400,700,900&display=swap" rel="stylesheet" defer>

<title>{{ .Title }}</title>