<meta charset="UTF-8">
<meta name="description" content="Fábio Ferreira is a freelance full-stack developer">
<meta name="keywords" content="HTML,CSS,React,JavaScript,Node.JS,Golang">
<meta name="author" content="Fábio Ferreira">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Styles -->
{{ $toolkit := resources.Get "/scss/toolkit.scss" | toCSS | minify }}
<link rel="stylesheet" href={{ $toolkit.Permalink }} />

{{ $mainCSS := resources.Get "/scss/main.scss" | toCSS | minify }}
<link rel="stylesheet" href={{ $mainCSS.Permalink }} />

{{ $mobileCSS := resources.Get "/scss/mobile.scss" | toCSS | minify }}
<link rel="stylesheet" href={{ $mobileCSS.Permalink }} />

<!-- Fonts -->
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700,900&display=swap" rel="stylesheet">

<title>{{ .Title }}</title>