<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand">
      fabio
    </a>
  
    <ul class="links">      
      <a href="/projects" class="flex align-items--center">
        <li>Projects</li>
      </a>

      <a href="/work" class="flex align-items--center">
        <li>work</li>
      </a>
  
      <a href="/hire" class="flex align-items--center" id="fire">
        <li>Hire Me</li>
      </a>
    </ul>

    <div class="hamburger-container">
      <span class="hamburger right"></span>
    </div>
    
    <aside id="sidemenu">
      <ul class="links flex flex-column justify-content--center align-items--center flex-wrap">    
        <a href="/projects" class="flex align-items--center">
          <li>Projects</li>
        </a>
    
        <a href="/work" class="flex align-items--center">
          <li>work</li>
        </a>
    
        <a href="/hire" class="flex align-items--center" id="fire">
          <li>Hire Me</li>
        </a>
      </ul>
    </aside>

    <div id="sidemenu-overlay"></div>
  </div>
</nav>