<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand">
      fabio
    </a>
  
    <ul class="links">
      <!-- 
      <a href="#" class="flex align-items--center">
        <li>
          Blog
        </li>
      </a>
      -->
      
      <a href="/projects" class="flex align-items--center">
        <li>Projects</li>
      </a>

      <a href="/work" class="flex align-items--center">
        <li>work</li>
      </a>
  
      <a href="/hire" class="flex align-items--center" id="fire">
        <li>Hire Me</li>
      </a>
    </ul>

    <span class="hamburger right"></div>
  </div>
</nav>

<aside id="menu">
  <ul class="links flex flex-direction--column flex-wrap">    
    <a href="/projects" class="flex align-items--center">
      <li>Projects</li>
    </a>

    <a href="/work" class="flex align-items--center">
      <li>work</li>
    </a>

    <a href="/hire" class="flex align-items--center" id="fire">
      <li>Hire Me</li>
    </a>
  </ul>
</aside>